
/* RESPONSIVE */

/* tablet version */
@media all and (min-width: 481px){

    /* main */
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    
    .col{
        flex-basis: calc((100% / 3) - 20px);
        margin: 10px;
        /* debug */
        background-color: red;
        min-height: 100px;
    }
    
    .col.large{
        flex-basis: calc(((100% / 3) * 2) - 20px);
        margin: 10px;
        /* debug */
        background-color: blue;
        min-height: 100px;
    }

}


/* desktop version */
@media all and (min-width: 769px){

    /* header */
    #container{
        width: 70%;
        margin: 0 auto;
    }

    nav{
        display: block;
    }

    nav ul{
        display: flex;
        align-items: center;
    }

    /* main */
    .container{
        width: 70%;
    }

}
