/* RESPONSIVE */

/* TABLET VERSION */
@media all and (min-width: 481px){
    /* section demo */
    .row-demo{
        display: flex;
        flex-wrap: wrap;
    }
    
    .col-demo{
        flex-basis: calc((100% / 3) - 20px);
        margin: 10px;
    }
    
    .col-demo.large{
        flex-basis: calc(((100% / 3) * 2) - 20px);
        margin: 10px;
    }

    /* section testimonials */
    .card{
        display: flex;
        align-items: center;
        gap: 5%;
        text-align: left;
    }

    .col-test.left{
        margin-left: 20px;
        margin-bottom: 0;
        flex-basis: 30%;
    }

    .col-test.right{
        margin-right: 20px;
        margin-top: 0;
    }

    /* section benefits */
    .row.benefits{
        display: flex;
        flex-wrap: wrap;
        gap: 2%;
        justify-content: space-between;
    }

    .col-benefits{
        flex-basis: 48%;
    }

    /* section about us */
    .row.about-us{
        display: flex;
        justify-content: space-between;
    }

    .col-ab.text{
        flex-basis: 55%;
    }

    .col-ab.profile{
        flex-basis: 30%;
    }

    #fa-quote-left{
        top: -15px;
        right: 5px;
    }

    /* footer */
    .container.footer{
        width: 70%;
    }
}



/* DESKTOP VERSION */
@media all and (min-width: 769px){

    /* header */
    #container{
        width: 65%;
        margin: 0 auto;
    }
   
    .fa-solid.fa-bars{
        display: none;
    }

    nav{
        display: flex;
    }

    nav ul{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    li{
        padding: 0 10px;
    }

    li a{
        color: white;
        padding: 0 5px;
    }

    /* main */
    .container{
        width: 65%;
    }

    /* section demo */
    .text-demo.large{
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
    }

    .col-int.left{
        flex-basis: 55%;
    }

    .col-int.right{
        flex-basis: 40%;
        align-self: flex-end;
        margin-left: 30px;
    }

    /* section planning */
    .row.planning{
        display: flex;
        align-items: flex-start;
        gap: 5%;
        padding: 50px 0;
    }

    .col-planning{
        flex-basis: 45%;
    }

    .col-planning.right{
        padding-bottom: 0;
        align-self: flex-end;
    }

    .col-planning.right img{
        width: 60%;
    }

    /* section benefits */
    .col-benefits{
        flex-basis: calc((100% / 3) - 3%);
    }

    /* footer */
    .container.footer{
        width: 50%;
    }

    .container.footer.bottom{
        width: 30%;
    }
}
