
/* RESPONSIVE */

/* tablet version */
@media all and (min-width: 481px){

    /* main */
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    
    .col{
        flex-basis: calc((100% / 3) - 20px);
        margin: 10px;
    }
    
    .col.large{
        flex-basis: calc(((100% / 3) * 2) - 20px);
        margin: 10px;
    }

}


/* desktop version */
@media all and (min-width: 769px){

    /* header */
    #container{
        width: 65%;
        margin: 0 auto;
    }
   
    .fa-solid.fa-bars{
        display: none;
    }

    nav{
        display: flex;
    }

    nav ul{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    li{
        padding: 0 10px;
    }

    li a{
        color: white;
        padding: 0 5px;
    }

    /* main */
    .container{
        width: 65%;
    }

    .text.large{
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
    }

    .col-int.left{
        flex-basis: 55%;
    }

    .col-int.right{
        flex-basis: 40%;
        margin-left: 30px;
        padding-top: 72px;
    }
}
