/* stili generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

ul{
    list-style-type: none;
}

p{
    line-height: 25px;
}

/* MOBILE FIRST */

/* HEADER */
header{
    width: 100%;
    position: fixed;
    z-index: 500;
    height: 70px;
    background-color: #0084fd;
}

#container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.logo{
    color: white;
    font-size: 40px;
}

.fa-solid.fa-bars{
    font-size: 30px;
    color: white;
}

nav{
    display: none;
}

.button.start{
    background-color: white;
    margin-left: 40px;
}

.button.start a{
    color: black;
    padding: 0;
}

/* MAIN */
main{
    padding-top: 120px;
}

.container{
    width: 85%;
    margin: 0 auto;
}

.main{
    padding: 50px 0;
}


/* section demo*/
.main.demo{
    padding-top: 0;
}

.col-demo{
    margin-bottom: 30px;
    background-color: #b5ddff;
    border-radius: 20px;
}

.text-demo{
    width: 80%;
    margin: 0 auto;
}

.demo-title{
    color: #0084fd;
    padding: 20px 0;
    font-size: 20px;
}

.text-demo p{
    color: #607689;
}

.col-int.right img{
    width: 100%;
    margin-bottom: -5px;
}

.button{
    text-align: center;
    padding: 10px;
    border-radius: 20px;
}

.button.download{
    background-color: #0084fd;
    width: 90%;
    margin: 20px 0;
}

.button a {
    color: white;
    padding: 0 10px;
}

.fa-brands.fa-apple{
    color: white;
    padding: 0 10px 0 0;
}

.text-demo.text-col{
    text-align: center;
    padding: 30px 0;
}

.fa-file-code, .fa-compass-drafting, .fa-laptop-code, .fa-bullhorn{
    color: #0084fd;
    display: block;
    font-size: 80px;
}

/* section planning */
.main.planning{
    background-color: #9792e4;
}

.col-planning.left{
    color: white;
}

.col-planning.left img, .col-planning.right img{
    width: 100%;
    padding: 30px 0;
}

.planning-title{
    padding: 40px 0 60px;
    font-size: 40px;
}

.col-planning.right{
    text-align: center;
    background-color: white;
    border-radius: 50px;
    margin-top: 30px;
    padding-bottom: 20px;
}

.col-planning.right h3{
    padding: 20px 0;
}

.button.arrow{
    background-color: #9792e4;
    border-radius: 50%;
    font-size: 20px;
    width: 50px;
    margin: 30px auto;
}

.button.arrow a{
    color: black;
    text-align: center;
    padding: 8px;
}

/* section testimonials */
.main.testimonials{
    text-align: center;
}

h4{
    font-weight: normal;
}

.testimonials-title{
    color: #9792e4;
    font-size: 40px;
    padding: 30px 0;
}

.card{
    margin: 30px 0;
    background-color: #9792e4;
    border-radius: 40px;
    color: white;
    padding: 30px 0;
}

 .col-test{
    width: 90%;
    margin: 0 auto;
 }

 .col-test.right{
    margin-top: 30px;
 }

 .cont-img-test{
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
}

.cont-img-test img{
    width: auto;
    height: 100%;
    margin-left: -50px;
 }

 #almeda{
    margin-left: -60px;
 }

 .fa-quote-right{
    padding-left: 5px;
 }

 .fa-quote-left{
    padding-right: 5px;
 }

 .name{
    padding-top: 20px;
    font-size: 20px;
 }

 /* section benefits */
.main.benefits{
    background-color: #9792e4;
}

.col-benefits{
    background-color: white;
    border-radius: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.benefits-title{
    color: white;
    font-size: 50px;
    text-align: center;
    padding-bottom: 50px;
}

.text-benefits{
    width: 85%;
    margin: 0 auto;
    padding: 30px 0;
}

.number{
    color: #9792e4;
    font-size: 50px;
}

.type-benefits{
    color: #9792e4;
    font-size: 30px;
    padding: 20px 0;
}

.text-benefits p {
    color: #607689;
}

.button.more{
    background-color: #9792e4;
    width: 50%;
    margin-top: 20px;
}

/* section about us */
#ab-title{
    font-size: 60px;
    color: #9792e4;
    padding-bottom: 30px;
}

.text-ab{
    line-height: 30px;
    margin-bottom: 50px;
}

.col-ab.profile{
    position: relative;
}

#ab-profile{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

#ab-profile img{
    width: auto;
    height: 100%;
}

#fa-quote-left{
    z-index: 30;
    font-size: 60px;
    color: #9792e4;
    position: absolute;
    top: -15px;
    left: 140px;
}

#desc-profile{
    font-size: 25px;
    color: #9792e4;
    line-height: 40px;
    font-weight: bold;
    padding-top: 30px;
}

.button.linkedin{
    background-color: #9792e4;
    width: 80%;
    margin-top: 30px;
}

.fa-linkedin{
    padding-right: 5px;
}

/* FOOTER */

/* footer bottom */
.main.footer-top{
    background-color: #9792e4;
    text-align: center;
    color: white;
}

.text-footer h4{
    font-size: 20px;
}

.text-footer h2{
    color: #fdc15f;
    font-size: 60px;
    margin-bottom: 30px;
}

.text-footer p{
    margin-bottom: 30px;
}

#footer-title{
    color: white;
    font-size: 30px;
    padding: 30px 0;
}

.button.start-footer{
    background-color: white;
    width: 60%;
    margin: auto;
}

.button.start-footer a{
    color: #9792e4;
    font-weight: bold;
    font-size: 20px;
}

.text-footer span{
    margin-top: 30px;
    display: inline-block;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-footer span a{
    color: white;
    text-decoration: underline;
}

.fa-circle{
    font-size: 5px;
    padding: 5px;
}

/* footer bottom */
.main.footer-bottom{
    background-color: #333333;
    color: white;
    text-align: center;
}

.container.footer p{
    margin-bottom: 20px;
}

.main.footer-bottom a{
    color: #9792e4;
    text-decoration: underline;
}


