/* stili generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}


/* MOBILE FIRST */

/* header */
header{
    width: 100%;
    position: fixed;
    z-index: 500;
    height: 80px;
    /* debug */
    background-color: yellow;
}

nav{
    display: none;
}


/* main */
main{
    padding-top: 100px;
}

/* section */
.container{
    width: 90%;
    margin: 0 auto;
}

.col{
    margin: 10px 0;
    /* debug */
    background-color: red;
    min-height: 100px;
}

.col.large{
    margin: 10px 0;
    /* debug */
    background-color: blue;
    min-height: 100px;
}

