/* stili generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}


/* MOBILE FIRST */

/* header */
header{
    width: 100%;
    position: fixed;
    z-index: 500;
    height: 70px;
    background-color: #0084fd;
}

#container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.logo{
    color: white;
    font-size: 40px;
}

.fa-solid.fa-bars{
    font-size: 30px;
    color: white;
}

nav{
    display: none;
}

.button.start{
    background-color: white;
    margin-left: 40px;
}

.button.start a{
    color: black;
    padding: 0;
}

/* main */
main{
    padding-top: 110px;
}

/* section demo*/
.container{
    width: 85%;
    margin: 0 auto;
}

.col{
    margin-bottom: 30px;
    background-color: #b5ddff;
    border-radius: 20px;
}

.text{
    width: 80%;
    margin: 0 auto;
}

.demo-title{
    color: #0084fd;
    padding: 20px 0;
    font-size: 20px;
}

.text p{
    color: #607689;
    line-height: 25px;
}

.text .button{
    margin: 20px 0;
}

.col-int.right img{
    width: 100%;
    margin-bottom: -5px;
}

.button{
    background-color: #0084fd;
    width: 90%;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
}

.button a {
    color: white;
    padding: 0 10px;
}

.fa-brands.fa-apple{
    color: white;
    padding: 0 10px 0 0;
}

.text.text-col{
    text-align: center;
    padding: 30px 0;
}

.fa-file-code, .fa-compass-drafting, .fa-laptop-code, .fa-bullhorn{
    color: #0084fd;
    display: block;
    font-size: 80px;
}

